@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&family=Roboto:wght@400;500;700&display=swap');

* {
    box-sizing: border-box;
}

html {
    font-size: 15px;
}

html,
body {
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

button {
    padding: 0;
}

a {
    text-decoration: none;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}


/*Picture
===============*/
.picture {
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}

.picture.one--mobile {
    background-image: url("../images/time-imgs/bg-mobile/namaz-bg-mobile1.jpg");
}

.picture.two--mobile {
    background-image: url("../images/time-imgs/bg-mobile/namaz-bg-mobile2.jpg");
}

.picture.three--mobile {
    background-image: url("../images/time-imgs/bg-mobile/namaz-bg-mobile3.jpg");
}

.picture.four--mobile {
    background-image: url("../images/time-imgs/bg-mobile/namaz-bg-mobile4.jpg");
}

.picture.five--mobile {
    background-image: url("../images/time-imgs/bg-mobile/namaz-bg-mobile5.jpg");
}

.picture.six--mobile {
    background-image: url("../images/time-imgs/bg-mobile/namaz-bg-mobile6.jpg");
}


/*Header
==================*/
.header {
    background-image:  url(../images/header/header-bottom.png),url(../images/header/header-small-top.png),url(../images/header/header-small-bottom.png);
    background-position: center, top, bottom;
    background-repeat: repeat-x;
    box-shadow: 0 0 10px rgba(0,0,0,.3);
}

.azan {
    font-size: 25px;
    color: #fff;
}

.icon {
    width: 20px;
    height: 20px;
}

.search {
    padding: 5px;
    border: 0;
    outline: 0;
}

.setting-btn {
    border: 0;
    background-color: transparent;
    cursor: pointer;
}


/*Main
==================*/
.main {
    flex: 1 1 auto;
    overflow: hidden;
}

.main__inner {
    margin-bottom: 14px;
}


/*Setting time
==================*/
.setting-time {
    font-size: 17px;
}

.day {
    margin-right: 10px;
    color: #fff;
}

.link {
    font-weight: bold;
    color: #fff;
}

.link.active {
    color: #0F9DDB;
    background-color: transparent;
}

.setting-time__list {
    display: flex;
}


/* Dropdown Button */
.dropbtn {
    background-color: transparent;
    border: none;
    font-size: 17px;
    color: white;
    cursor: pointer;
}

.dropdown {
    display: none;
    position: relative;

}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a.active {
    background-color: transparent;
    border-radius: unset;
    color: #0F9DDB;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed #fff;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}


/*Time to pray
==================*/
.time-to-pray {
    min-height: 364px;
    position: relative;
    color: #fff;
}

.web {
    display: block;
}

.mobile {
    display: none;
}

.time-to-pray__inner {
    min-height: 364px;
}

.time-to-pray-list {
    width: 100%;
}


/*Time item
==================*/
.time-item {
    width: 140px;
    height: 140px;
    padding-top: 45px;
    position: relative;
}

.active {
    background-color: white;
    border-radius: 50%;
    color: #000;
}

.desc {
    position: absolute;
    top: 25px;
}

.desc span{
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    padding: 0 3px;
}

.time {
    margin-bottom: 0;
    font-size: 34px;
    font-weight: lighter;
}

.name {
    margin-bottom: 4px;
    font-size: 16px;
}


/*Sunrise
==================*/
.sunrise {
    width: 100px;
    height: 100px;
    margin-top: -70px;
    padding-top: 33px;
}

.sunrise-time {
    font-size: 15px;
}

/*Footer
==================*/
.footer {
    width: 100%;
    padding: 15px 0;
    font-size: 20px;
    color: #fff;
}

@media (max-width: 787px) {
    /*Header
    ==============*/
    .header {
        width: 100%;
        position: fixed;
    }

    /*Main
    ==============*/
    .main__inner {
        margin-top: 60px;
        background-color: transparent;
        box-shadow: none;
    }


    /*Setting time
    ==============*/
    .setting-time__list {
        display: none;
    }

    .dropdown {
        display: inline-block;
    }


    .sunrise-time {
        color: #fff;
    }

    .have-time {
        padding: 15px 0;
        font-size: 20px;
    }


    /*Time to pray
    ==============*/
    .web {
        display: none;
    }

    .mobile {
        display: block;
    }

    .time-to-pray:after {
        content: none;
    }

    .time-to-pray__inner {
        min-height: 100%;
        margin: 0;
    }

    .time-item {
        width: 100%;
        height: 100%;
        padding-top: 0;
        margin: 10px 0;
    }

    .time-item.active {
        background-color: transparent;
    }

    .desc {
        float: right;
        width: 80px;
        padding: 10px;
        position: initial;
        text-align: end;
        color: #fff;
    }

    .name {
        padding: 5px 15px;
        margin: 0;
        font-size: 20px;
    }

    .time-item.active .name {
        background-color: #fff;
        border-radius: 20px;
    }

    .time {
        padding: 5px 15px;
        font-size: 20px;
    }

    .time-item.active .time {
        background-color: #fff;
        border-radius: 20px;
    }
}
