@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&family=Roboto:wght@400;500;700&display=swap');

:root {
    --white: #fff;
    --black: #000;
    --blue: #6757dc;
    --blue1: #0F9DDB;
    --green: #4fa412;
    --desert: #c68d3e;
    --drak-blue: #480e7e;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 15px;
}

html,
body {
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

button {
    padding: 0;
}

a {
    text-decoration: none;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background-color: var(--blue1);
    color: var(--white);
}


/*Picture
===============*/
.picture {
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}

.picture.one {
    background-image: url("../images/time-imgs/bg/namaz-1.jpg");
    color: var(--white);
}

.picture.two {
    background-image: url("../images/time-imgs/bg/namaz-2.jpg");
    color: var(--blue);
}

.picture.three {
    background-image: url("../images/time-imgs/bg/namaz-3.jpg");
    color: var(--green);
}

.picture.four {
    background-image: url("../images/time-imgs/bg/namaz-4.jpg");
    color: var(--white);
}

.picture.five {
    background-image: url("../images/time-imgs/bg/namaz-5.jpg");
    color: var(--white);
}

.picture.six {
    background-image: url("../images/time-imgs/bg/namaz-6.jpg");
    color: var(--white);
}


/*Header
==================*/
.header {
    background-image:  url(../images/header/header-bottom.png),url(../images/header/header-small-top.png),url(../images/header/header-small-bottom.png);
    background-position: center, top, bottom;
    background-repeat: repeat-x;
    box-shadow: 0 0 10px rgba(0,0,0,.3);
}

.azan {
    font-size: 25px;
    color: var(--white);
}

.icon {
    width: 20px;
    height: 20px;
}

.search {
    padding: 5px;
    border: 0;
    outline: 0;
}

.setting-btn {
    border: 0;
    background-color: transparent;
    cursor: pointer;
}


/*Main
==================*/
.main {
    flex: 1 1 auto;
    overflow: hidden;
}

.main__inner {
    margin-bottom: 14px;
}


/*Setting time
==================*/
.setting-time {
    font-size: 17px;
}

.day {
    margin-right: 10px;
    color: inherit;
}

.link {
    font-weight: bold;
    color: inherit;
}

.setting-time__list {
    display: flex;
}


/* Dropdown Button */
.dropbtn {
    background-color: transparent;
    border: none;
    font-size: 17px;
    color: inherit;
    font-weight: bold;
    cursor: pointer;
}

.dropdown {
    display: none;
    position: relative;

}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--white);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: var(--black);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a.active {
    background-color: transparent;
    border-radius: unset;
    color: var(--black);
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}


/*Time to pray
==================*/
.time-to-pray {
    min-height: 364px;
    position: relative;
}

.time-to-pray__inner {
    display: flex;
    align-items: center;
    min-height: 364px;
}

.time-to-pray-list {
    display: flex;
    justify-content: space-between;
    width: 100%;
}


/*Time item
==================*/
.time-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 140px;
    height: 140px;
    padding-top: 45px;
}

.time-item.active  {
    background-color: var(--white);
    border-radius: 50%;
    color: var(--black);
}

.time-desc {
    position: relative;
}

.desc {
    position: absolute;
    top: -20px;
}

.desc span{
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    padding: 0 3px;
}

.time {
    margin-bottom: 0;
    font-size: 34px;
    font-weight: lighter;
}

.name {
    margin-bottom: 4px;
    font-size: 16px;
}


/*Sunrise
==================*/
.sunrise {
    width: 100px;
    height: 100px;
    margin-top: -70px;
    padding-top: 33px;
}

.sunrise-time {
    font-size: 15px;
}

/*Footer
==================*/
.footer {
    width: 100%;
    padding: 15px 0;

    background-color: #0a58ca;
    background-image:  url(../images/header/header-bottom.png),url(../images/header/header-small-top.png),url(../images/header/header-small-bottom.png);
    background-position: center, top, bottom;
    background-repeat: repeat-x;
    box-shadow: 0 0 10px rgba(0,0,0,.3);

    font-size: 20px;
    color: var(--white);
}

@media (max-width: 787px) {
    /*Setting time
    ==============*/
    .setting-time__list {
        display: none;
    }

    .dropdown {
        display: inline-block;
    }

    .have-time {
        padding: 15px 0;
        font-size: 20px;
    }


    /*Time to pray
    ==============*/
    .time-to-pray:after {
        content: none;
    }

    .time-to-pray__inner {
        min-height: 100%;
        margin: 0;
    }

    .time-to-pray-list {
        flex-direction: column;
    }
    .time-item {
        flex-direction: initial;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        padding-top: 0;
        margin: 10px 0;
    }

    .time-item.active {
        background-color: transparent;
        color: inherit;
    }

    .time-desc {
        order: 2;
        display: flex;
    }

    .desc {
        order: 3;
        width: 80px;
        padding: 10px;
        position: initial;
        text-align: end;
    }

    .time {
        order: 2;
        display: flex;
        align-items: center;
        padding: 5px 15px;
        font-size: 20px;
    }

    .name {
        order: 1;
        display: flex;
        align-items: center;
        padding: 5px 15px;
        margin: 0;
        font-size: 20px;
    }

    .time-item.active .name {
        background-color: var(--white);
        border-radius: 20px;
        color: var(--black);
    }

    .have-time {
        display: none;
    }

    .time-item.active .time {
        background-color: var(--white);
        border-radius: 20px;
        color: var(--black);
    }
}
